@using ContactsBookWeb.Models
@model Contact
<h5 class="labelEditContact">Create contact</h5>


@using (Html.BeginForm("CreateContact", "Contacts", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })

        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control dataInput", @id = "firstName" })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.SecondName, htmlAttributes: new { @class = "control-label" })

        @Html.TextBoxFor(model => model.SecondName, new { @class = "form-control dataInput", @id = "secondName" })
        @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.BirthYear, htmlAttributes: new { @class = "control-label" })

        @Html.TextBoxFor(model => model.BirthYear, new { @class = "form-control dataInput", @id = "birthYear" })
        @Html.ValidationMessageFor(model => model.BirthYear, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })

        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control dataInput", @id = "phoneNumber" })
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

    </div>
    <button onclick="SendContactDataToCreate()" class="btn btn-success" type="button">Confirm creation</button>
}




