@using ContactsBookWeb.Models
@model List<Contact>
<div class="btnLayer2">
    <label class="labelSort">Sort by:</label>
    <div class="btn-group">
        <button onclick=" SendSortMethodOfSearch(1) " type="button" class="btn btn-default">First name</button>
        <button onclick=" SendSortMethodOfSearch(2) " type="button" class="btn btn-default">Second name</button>
        <button onclick=" SendSortMethodOfSearch(3) " type="button" class="btn btn-default">Year of birth</button>
    </div>
</div>
<table id="contactsTable" class="table">
    <caption>Contacts list</caption>
    <tr><th>First name</th><th>Second name</th><th>Birth year</th><th>Phone number</th></tr>
    <tbody id="tableBody">
        @foreach (var contact in Model)
        {
            <tr onclick="SendIdToEdit(@contact.Id)">
                <td class="hideTd">@contact.Id</td>
                <td>@contact.FirstName</td>
                <td>@contact.SecondName</td>
                <td>@contact.BirthYear</td>
                <td>@contact.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

